In [1]:
import pandas as pd
olympic_data=pd.read_csv("https://raw.githubusercontent.com/svkarthik86/Advance-Python-Numpy/main/olympics.csv",skiprows=4)

In [2]:
olympic_data.index.values

array([    0,     1,     2, ..., 29213, 29214, 29215], dtype=int64)

In [3]:
olympic_data.columns.values

array(['City', 'Edition', 'Sport', 'Discipline', 'Athlete', 'NOC',
       'Gender', 'Event', 'Event_gender', 'Medal'], dtype=object)

In [4]:
olympic_data.index.hasnans

False

In [5]:
olympic_data.columns.hasnans

False

In [6]:
olympic_data.index.has_duplicates

False

In [7]:
olympic_data.columns.has_duplicates

False

In [8]:
olympic_data.index.nbytes

128

In [9]:
olympic_data.columns.nbytes

80

In [80]:
olympic_data.query("Athlete.str.contains('OWENS, Jesse')").Event

6427            100m
6439            200m
6456    4x100m relay
6523       long jump
Name: Event, dtype: object

In [2]:
olympic_data.query("(Medal=='Gold')and(Gender=='Men')and(Event=='singles')and(Discipline=='Badminton')").sort_values(by=['Athlete'])

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold

In [6]:
olympic_data.query("(Medal=='Gold')and(Gender=='Men')and(Event=='singles')and(Discipline=='Badminton')").sort_values(by=['Athlete']).NOC.value_counts()[:1]

INA    2
Name: NOC, dtype: int64

In [3]:
data_1984_2008=olympic_data.set_index(['Edition']).loc[1984:2009]
data_1984_2008.NOC.value_counts()[:3]

USA    1837
AUS     762
GER     691
Name: NOC, dtype: int64

In [71]:
olympic_data.query("(Medal=='Gold')and(Event=='100m')and(Discipline=='Athletics')and(Gender=='Men')")

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
231,Paris,1900,Athletics,Athletics,"JARVIS, Francis",USA,Men,100m,M,Gold
737,St Louis,1904,Athletics,Athletics,"HAHN, Archie",USA,Men,100m,M,Gold
1191,London,1908,Athletics,Athletics,"WALKER, Reginald",RSA,Men,100m,M,Gold
2022,Stockholm,1912,Athletics,Athletics,"CRAIG, Ralph",USA,Men,100m,M,Gold
2996,Antwerp,1920,Athletics,Athletics,"PADDOCK, Charles",USA,Men,100m,M,Gold
4236,Paris,1924,Athletics,Athletics,"ABRAHAMS, Harold",GBR,Men,100m,M,Gold
5095,Amsterdam,1928,Athletics,Athletics,"WILLIAMS, Percy",CAN,Men,100m,M,Gold
5806,Los Angeles,1932,Athletics,Athletics,"TOLAN, Eddie",USA,Men,100m,M,Gold
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
7302,London,1948,Athletics,Athletics,"DILLARD, Harrison",USA,Men,100m,M,Gold
8121,Helsinki,1952,Athletics,Athletics,"REMIGINO, Lindy",USA,Men,100m,M,Gold
9009,Melbourne / Stockholm,1956,Athletics,Athletics,"MORROW, Robert Joseph",USA,Men,100m,M,Gold
9924,Rome,1960,Athletics,Athletics,"HARY, Armin",EUA,Men,100m,M,Gold
10823,Tokyo,1964,Athletics,Athletics,"HAYES, Robert",USA,Men,100m,M,Gold
11865,Mexico,1968,Athletics,Athletics,"HINES, James Ray",USA,Men,100m,M,Gold
12902,Munich,1972,Athletics,Athletics,"BORZOV, Valery",URS,Men,100m,M,Gold
14069,Montreal,1976,Athletics,Athletics,"CRAWFORD, Hasely",TRI,Men,100m,M,Gold
15374,Moscow,1980,Athletics,Athletics,"WELLS, Allan",GBR,Men,100m,M,Gold
16794,Los Angeles,1984,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
18284,Seoul,1988,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
19859,Barcelona,1992,Athletics,Athletics,"CHRISTIE, Linford",GBR,Men,100m,M,Gold
21598,Atlanta,1996,Athletics,Athletics,"BAILEY, Donovan",CAN,Men,100m,M,Gold
23521,Sydney,2000,Athletics,Athletics,"GREENE, Maurice",USA,Men,100m,M,Gold
25539,Athens,2004,Athletics,Athletics,"GATLIN, Justin",USA,Men,100m,M,Gold
27552,Beijing,2008,Athletics,Athletics,"BOLT, Usain",JAM,Men,100m,M,Gold

In [63]:
olympic_data.query("(Medal=='Gold')and(Event=='100m')and(Discipline=='Athletics')and(Gender=='Men')").sort_values(['Edition'],ascending=False)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
27552,Beijing,2008,Athletics,Athletics,"BOLT, Usain",JAM,Men,100m,M,Gold
25539,Athens,2004,Athletics,Athletics,"GATLIN, Justin",USA,Men,100m,M,Gold
23521,Sydney,2000,Athletics,Athletics,"GREENE, Maurice",USA,Men,100m,M,Gold
21598,Atlanta,1996,Athletics,Athletics,"BAILEY, Donovan",CAN,Men,100m,M,Gold
19859,Barcelona,1992,Athletics,Athletics,"CHRISTIE, Linford",GBR,Men,100m,M,Gold
18284,Seoul,1988,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
16794,Los Angeles,1984,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
15374,Moscow,1980,Athletics,Athletics,"WELLS, Allan",GBR,Men,100m,M,Gold
14069,Montreal,1976,Athletics,Athletics,"CRAWFORD, Hasely",TRI,Men,100m,M,Gold
12902,Munich,1972,Athletics,Athletics,"BORZOV, Valery",URS,Men,100m,M,Gold
11865,Mexico,1968,Athletics,Athletics,"HINES, James Ray",USA,Men,100m,M,Gold
10823,Tokyo,1964,Athletics,Athletics,"HAYES, Robert",USA,Men,100m,M,Gold
9924,Rome,1960,Athletics,Athletics,"HARY, Armin",EUA,Men,100m,M,Gold
9009,Melbourne / Stockholm,1956,Athletics,Athletics,"MORROW, Robert Joseph",USA,Men,100m,M,Gold
8121,Helsinki,1952,Athletics,Athletics,"REMIGINO, Lindy",USA,Men,100m,M,Gold
7302,London,1948,Athletics,Athletics,"DILLARD, Harrison",USA,Men,100m,M,Gold
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
5806,Los Angeles,1932,Athletics,Athletics,"TOLAN, Eddie",USA,Men,100m,M,Gold
5095,Amsterdam,1928,Athletics,Athletics,"WILLIAMS, Percy",CAN,Men,100m,M,Gold
4236,Paris,1924,Athletics,Athletics,"ABRAHAMS, Harold",GBR,Men,100m,M,Gold
2996,Antwerp,1920,Athletics,Athletics,"PADDOCK, Charles",USA,Men,100m,M,Gold
2022,Stockholm,1912,Athletics,Athletics,"CRAIG, Ralph",USA,Men,100m,M,Gold
1191,London,1908,Athletics,Athletics,"WALKER, Reginald",RSA,Men,100m,M,Gold
737,St Louis,1904,Athletics,Athletics,"HAHN, Archie",USA,Men,100m,M,Gold
231,Paris,1900,Athletics,Athletics,"JARVIS, Francis",USA,Men,100m,M,Gold
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold

In [70]:
olympic_data.query("(Medal=='Gold')and(Event=='100m')and(Discipline=='Athletics')and(Gender=='Men')").sort_values(['Edition'],ascending=False).loc[:,['City','Edition','Athlete','NOC']]

                        City  Edition                Athlete  NOC
27552                Beijing     2008            BOLT, Usain  JAM
25539                 Athens     2004         GATLIN, Justin  USA
23521                 Sydney     2000        GREENE, Maurice  USA
21598                Atlanta     1996        BAILEY, Donovan  CAN
19859              Barcelona     1992      CHRISTIE, Linford  GBR
18284                  Seoul     1988            LEWIS, Carl  USA
16794            Los Angeles     1984            LEWIS, Carl  USA
15374                 Moscow     1980           WELLS, Allan  GBR
14069               Montreal     1976       CRAWFORD, Hasely  TRI
12902                 Munich     1972         BORZOV, Valery  URS
11865                 Mexico     1968       HINES, James Ray  USA
10823                  Tokyo     1964          HAYES, Robert  USA
9924                    Rome     1960            HARY, Armin  EUA
9009   Melbourne / Stockholm     1956  MORROW, Robert Joseph  USA
8121                Helsinki     1952        REMIGINO, Lindy  USA
7302                  London     1948      DILLARD, Harrison  USA
6427                  Berlin     1936           OWENS, Jesse  USA
5806             Los Angeles     1932           TOLAN, Eddie  USA
5095               Amsterdam     1928        WILLIAMS, Percy  CAN
4236                   Paris     1924       ABRAHAMS, Harold  GBR
2996                 Antwerp     1920       PADDOCK, Charles  USA
2022               Stockholm     1912           CRAIG, Ralph  USA
1191                  London     1908       WALKER, Reginald  RSA
737                 St Louis     1904           HAHN, Archie  USA
231                    Paris     1900        JARVIS, Francis  USA
13                    Athens     1896          BURKE, Thomas  USA